<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device=width, initial-scale=1">
    <title>Dashboard</title>
    <link rel="stylesheet" href="style.css">

    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <div class="sidebar close">
        # sidebar header
        <div class="logo-details">
            <i class="fa-solid fa-m"></i>
            <span class="logo_name"> Mati </span>
        </div>
        #nav-links
        <ul class="nav-links">
            <li>
                <a href="#">
                    <i class='bx bxs-dashboard'></i>
                    <span class="link_name">Dashboard</span>
                </a>
            </li>
            <li>
                <div class="icon-link">
                    <a href="#">
                        <i class='bx bx-layer'></i>
                        <span class="link_name"> Category </span>
                    </a>
                    <i class="fa-solid fa-caret-down"></i>
                </div>
            </li>
            <li>
                <div class="icon-link">
                    <a href="#">
                        <i class='bx bx-layer'></i>
                        <span class="link_name"> Post </span>
                    </a>
                    <i class="fa-solid fa-caret-down"></i>
                </div>
                <ul class="sub-menu">
                    <li><a class="link_name" href="#"> Plants </a></li>
                    <li><a href="#"> Garden </a></li>
                    <li><a href="#"> Fruits </a></li>
                    <li><a href="#"> Vegetables </a></li>
                </ul>
            </li>
            <li>
                <div class="icon-link">
                    <a href="#">
                        <i class='bx bx-layer'></i>
                        <span class="link_name"> Home </span>
                    </a>
                    <i class="fa-solid fa-caret-down"></i>
                </div>
            </li>
            <li>
                <div class="icon-link">
                    <a href="#">
                        <i class='bx bx-layer'></i>
                        <span class="link_name"> Analytics </span>
                    </a>
                    <i class="fa-solid fa-caret-down"></i>
                </div>
            </li>
        </ul>
    </div>



<!--Font Awesome-->
<script src="https://kit.fontawesome.com/e9a3085f17.js" crossorigin="anonymous"></script>

</body>
</html>